@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

body,
h1,
p,
pre,
h2,
ul, 
li {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

a,
a:hover
a:active {
    text-decoration:none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgb(188, 215, 240), rgb(196, 212, 236));
}

.nav-list {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.section {
    background: linear-gradient(180deg, rgba(217, 206, 225, 0.2), rgba(224, 204, 221, 0.2));
    min-width: 300px;
    width: 100%;
    margin: 1vh 0;
}

.footer {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgb(188, 215, 240), rgb(196, 212, 236));
}